---
import HomeLayout from '$layouts/HomeLayout.astro';
import Header from '$components/NavHeader.astro';
import { withParams } from '$lib/utils.ts';
import '$assets/style.css';
import '$assets/article.css';
import '$assets/prism.css';
import type { CollectionEntry } from 'astro:content';

type Props = {
	frontmatter: CollectionEntry<'blog'>['data'];
};

const { frontmatter: fm } = Astro.props;
const { title, description } = fm;
const shareImage = fm.image?.url ? new URL(fm.image?.url) : undefined;
const canonical = new URL(fm.canonical || Astro.url.pathname, Astro.site);

const formatDate = (date: Date) =>
	date.toLocaleDateString('en', { dateStyle: 'medium' });
---

<HomeLayout
	title=`${title} | Sid Vishnoi's blog`
	meta={{ canonical, description, shareImage }}
>
	<Header />

	<article id="main">
		<header>
			<h1>
				<a href={Astro.url.pathname}>{title}</a>
			</h1>

			<div class="meta">
				<p>
					Published <time datetime={fm.date.toISOString()}
						>{formatDate(fm.date)}</time
					>
					{
						fm.modified && (
							<Fragment>
								and last updated{' '}
								<time datetime={fm.modified.toISOString()}>
									{formatDate(fm.modified)}
								</time>
							</Fragment>
						)
					}
					{
						fm.canonical && (
							<Fragment>
								∙ Originally published on{' '}
								<a
									href={
										withParams(fm.canonical, { ref: 'sidvishnoi.com' }).href
									}
									target="_blank"
									rel="nofollow"
								>
									{canonical.hostname.replace(/^www\./, '')}
								</a>
							</Fragment>
						)
					}
				</p>
			</div>
		</header>

		<div>
			<slot />
		</div>
	</article>
</HomeLayout>
