---
import HomeLayout from '$layouts/HomeLayout.astro';
import Header from '$components/NavHeader.astro';
import { withParams } from '$lib/utils.ts';
import '$assets/style.css';
import type { CollectionEntry } from 'astro:content';

type Props = {
	frontmatter: CollectionEntry<'blog'>['data'];
};

const { frontmatter: fm } = Astro.props;
const { title, description } = fm;
const shareImage = fm.image?.url ? new URL(fm.image?.url) : undefined;
const canonical = new URL(fm.canonical || Astro.url.pathname, Astro.site);

const formatDate = (date: Date) =>
	date.toLocaleDateString('en', { dateStyle: 'medium' });
---

<HomeLayout
	title=`${title} | Sid Vishnoi's blog`
	meta={{ canonical, description, shareImage }}
>
	<Header />

	<article id="main">
		<header>
			<h1>
				<a href={Astro.url.pathname}>{title}</a>
			</h1>

			<div class="meta">
				<p>
					Published <time datetime={fm.date.toISOString()}
						>{formatDate(fm.date)}</time
					>
					{
						fm.modified && (
							<Fragment>
								and last updated{' '}
								<time datetime={fm.modified.toISOString()}>
									{formatDate(fm.modified)}
								</time>
							</Fragment>
						)
					}
					{
						fm.canonical && (
							<Fragment>
								∙ Originally published on{' '}
								<a
									href={
										withParams(fm.canonical, { ref: 'sidvishnoi.com' }).href
									}
									target="_blank"
									rel="nofollow"
								>
									{new URL(fm.canonical).hostname}
								</a>
							</Fragment>
						)
					}
				</p>
			</div>
		</header>

		<div>
			<slot />
		</div>
	</article>
</HomeLayout>

<style is:global>
	main :where(*) {
		margin: revert;
		padding: revert;
	}

	main {
		max-width: 65ch;
		margin: 0 auto;
		padding: 0 1em 1em;
	}

	article {
		margin: 0 auto;
		font-size: clamp(1em, 18px + 0.24vw, 2.125em);
	}

	article h1 {
		line-height: 1.1;
		margin-bottom: 0.25em;
		font-weight: bold;
		text-wrap: balance;
	}

	article h1 a {
		color: inherit;
		text-decoration: none;
	}

	article header .meta {
		margin-bottom: 2rem;
		border-bottom: 1px solid #ddd;
		font-size: smaller;
		color: var(--color-alt, #777);
	}
	article header .meta p {
		font-size: smaller;
	}

	article :is(h2, h3, h4, h5) {
		line-height: 1.2;
	}

	article ol {
		margin-left: -1rem;
	}

	article ul {
		margin-left: -1.5em;
	}

	article :is(p, li) code {
		font-family: var(--font-mono);
		font-size: 0.85em;
		word-break: break-word;
	}

	hr {
		margin: 2em auto;
		border: 2px solid var(--color-c, aquagreen);
		border-radius: 10px;
		max-width: 60%;
	}

	.footnotes {
		font-size: smaller;
		margin-top: 3em;
		border-top: 1px dashed var(--color-alt);
	}

	@media screen and (max-width: 48rem) {
		article h1 {
			font-size: xx-large;
		}
	}
</style>
